#categories {
    height: 100%;
    position: fixed;
    background-color: #12151F;
    left: 0;
    top: 0;
    width: 17%;
    padding: 15px;
}

#close {
    float: left;
    height: 17px;
    width: 17px;
    background-color: #FF5A52;
    cursor: pointer;
    border-radius: 50%;
}

#close:hover {
    background-color: red;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

#minimize {
    height: 17px;
    width: 17px;
    background-color: #E7C029;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 30px;
}

#minimize:hover {
    background-color: orange;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

#imgholder {
    margin-top: 35px;
    text-align: center;
    -webkit-app-region: drag;
}

#navbar {
    font-family: 'Be Vietnam', sans-serif;
    color: white;
    width: 100%;
    margin-top: 35px;
    text-align: center;
}

#navbar li{
    list-style-type: none;
}

#notused {
    color: #646F95;
}

#used {
    padding: 10px;
    border-bottom: 3px solid skyblue;
    cursor: pointer;
}